name: Deploy to EC2

on:
  push:
    branches:
      - master  # masterにプッシュされたら動くお！

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/Coredesia
            git pull origin master
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan sitemap:generate
            php artisan config:cache
            php artisan route:cache
            sudo systemctl reload nginx